*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,#009688 0px, #009688 17%, #ddd5d1 12%, #d2dbdc 100%);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container{
    display: flex;
    margin: auto;
    width: 90%;
    min-width: 960px;
    height: 95%;
    background-color: rgba(173, 172, 172, 0.603);
}

.border-white{
    border-bottom: 1px solid rgb(185, 181, 181);
}

.mcs_grey{
    color: rgb(185, 181, 181)
}

/******BOX-LEFT******/

.left-box{
    width: 35%;
    height: 100%;
}

.left-box .box-header-left{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color:#eaeaea;

}

.left-box .container-avatar{
    display: flex;
    width: 66%;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.left-box .container-avatar img{
    width: 20%;
    border-radius: 50%;
    margin-right: 10px;
}

.left-box .box-user-icons{
    width: 34%;
}

.left-box .box-user-icons i{
    font-size: 1.5em;
    margin: 0 7px;
    cursor: pointer;
}

.left-box .box-alert{
    background-color: #fff;
    color: #8edafc;
    padding: 15px;
    border-radius: 50%;
    font-size: 1.4em;
    margin-left: 20px;
}

.left-box .box-notifications{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #8edafc;
}

.left-box .box-notifications a {
    letter-spacing: 0.5px;
    color: #578194;
}

.left-box .box-notifications-info{
    margin-left: 10px;
}

.left-box .box-search{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    padding: 10px;
    justify-content: center;
}

.left-box .box-input-search{
    width: 100%;
    background-color: #fff;
    align-self: center;
    border-radius: 10px;
}

.left-box .box-input-search i{
    margin: 4px 10px;
    cursor: pointer;
}

.left-box .box-input-search input{
    width: 265px;
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 10px;
}

.left-box .box-chat-list{
    width: 100%;
    height: calc(100% - 50px - 80px - 70px);
    background-color: #fff;
    overflow-y: auto;
}

.left-box .box-chat-list .box-message{
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.left-box .box-chat-list .box-message:hover{
    background-color: #c6d2d89c ;
}

.left-box .box-chat-list .box-message img{
    width: 15%;
    border-radius: 50%;
    margin: 0 15px;
}

/******BOX-RIGHT******/

.right-box{
    width: 65%;
    height: 100%;
}

.right-box .box-header-right{
    display: flex;
    width: 100%;
    height: 70px;
    background-color:#eaeaea;
    border-left: 1px solid rgb(107, 81, 81);
    cursor: pointer;
}

.right-box .box-avatar-info{
    display: flex;
    align-items: center;
    width: 80%;
}

.right-box .box-avatar-info img{
    width: 10%;
    border-radius: 50%;
    padding: 10px;
}

.right-box .box-title{
    margin-left: 10px;
}

.right-box .box-info-icons{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.right-box .box-info-icons i{
    padding: 0 10px;
    font-size: 1.5em;
}

.right-box .box-chat-message-container{
    width: 100%;
    height: calc(100% - 70px - 70px);
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
}

.right-box .box-chat-message{
    width: 90%;
    height: 100%;
    margin: auto;
}

.right-box .box-chat-message .square-message{
    position: relative;
    margin: 15px 0;
    font-weight: 400;
    font-size: 1.1em;
    padding: 17px 15px 20px 15px;
    border-radius: 10px;
}

.right-box .box-chat-message .square-message.sent{
    background-color: #d5f9ba;
    float: right;
    clear: both;
}

.right-box .box-chat-message .square-message.received{
    background-color: white;
    float: left;
    clear: both;
}

.right-box .box-chat-message .square-message .data{
    position: absolute;
    bottom: 0;
    right: 5px;
    padding: 3px;
    font-size: 0.7em;
    text-align: right;
}





.right-box .box-input-message{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color : #f3eeea;
}

.right-box .box-icon-left,
.right-box .box-icon-right{
    width: 10%;
    text-align: center;
    font-size: 1.7em;
}

.right-box .box-icon-left i,
.right-box .box-icon-right i{
    cursor: pointer;
}

.right-box .box-text-msg{
    display: flex;
    align-items: center;
    width: calc(100% - 20%);
    height: 100%;
}

.right-box .box-text-msg input {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    border: 1px solid lightgrey;
    padding: 2px;
    padding-left: 10px;
    outline: none;
}


/* .classechescrolla::-webkit-scrollbar-track {
    background: var(--colore1);
    border-left:1px solid rgba(255, 255, 255, 0.1);
}
.classechescrolla::-webkit-scrollbar-thumb {
    background:var(--fontcolorint);
    height:100px;
    border-radius:0px;
}
.classechescrolla::-webkit-scrollbar-thumb:hover {
    background: #3D3D3D;
} */