<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <title>Boolzap</title>
</head>
<body>
    <div id="app" class="container">
        <!-- BLOCCO DI SINISTRA -->
        <div class="left-box">
            <!-- BOX PROFILO UTENTE -->
            <div class="box-header-left">
                <!-- AVATAR PROFILO UTENTE -->
                <div class="container-avatar" v-for="(utente,index) in contacts" v-if="utente.name == 'Marco Sebastiani'" >
                    <img :src="utente.avatar" :alt="utente.title">
                    <h4>{{utente.name}}</h4>
                </div>
                <!-- / AVATAR PROFILO UTENTE -->

                <!-- ICONE BOX PROFILO -->
                <div class="box-user-icons mcs_grey">
                    <i class=" fas fa-circle-notch"></i>
                    <i class=" fas fa-comment-alt"></i>
                    <i class=" fas fa-ellipsis-v"></i>
                </div>
                <!-- /ICONE BOX PROFILO -->

            </div>
            <!-- /BOX PROFILO UTENTE -->

            <!-- BOX NOTIFICHE -->
            <div class="box-notifications">

                <div class="box-alert">
                    <i class="fas fa-bell-slash"></i>
                </div>

                <div class="box-notifications-info">
                    <h4 >Ricevi notifiche di nuovi messaggi</h4>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <!-- / BOX NOTIFICHE -->

            <!--  INPUT DI RICERCA -->
            <div class="box-search">
                <div class="box-input-search">
                    <i class="fas fa-search mcs_grey">
                        <input type="text" placeholder="Cerca o inizia una nuova chat" name="" id="">
                    </i>
                </div>
            </div>
            <!-- / INPUT DI RICERCA -->

            <!-- BOX CHAT -->
            <div class="box-chat-list">
                <div class="box-message border-white" v-if="utente.name != 'Marco Sebastiani'" v-for="(utente,index) in contacts" @click="statusActive(index)">
                    <img :src="utente.avatar" :alt="utente.title">
                    <h4>{{ utente.name }}</h4> 
                </div>
            </div>
            <!-- / BOX CHAT -->
        </div>
        <!-- / BLOCCO DI SINISTRA -->

        <!-- BLOCCO DI DESTRA -->
            <div class="right-box">
                <!-- BOX HEADER RIGHT -->
                <div class="box-header-right">
                    <div class="box-avatar-info">
                        <img :src="contacts[chatAttuale].avatar" :alt="contacts[chatAttuale].title">
                        <div class="box-title">
                            <h3>{{ contacts[chatAttuale].name }}</h3>
                            <p class="mcs_grey" v-if="contacts[chatAttuale].name != '' ">Ultimo accesso oggi alle</p>
                        </div>
                    </div>

                    <div class="box-info-icons mcs_grey">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class=" fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- / BOX HEADER RIGHT -->

                <!-- BOX CHAT -->
                <div class="box-chat-message-container">
                    <div class="box-chat-message">
                        <div class="square-message" v-for="(message) in contacts[chatAttuale].messages" :class="message.status">
                            <p>{{ message.text}}</p>
                            <i class="fas fa-chevron-down arrow"></i>
                            <div class="data mcs_grey">
                                <small>{{message.date}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / BOX CHAT -->

                <!-- BOX INPUT MESSAGE-->
                <div class="box-input-message">
                    <div class="box-icon-left mcs_grey">
                        <i class="far fa-smile"></i>
                    </div>

                    <div class="box-text-msg">
                        <input type="text" placeholder="Scrivi un messaggio" name="" id="" v-model="newMex" @keydown.enter='sentMessage'>
                    </div>

                    <div class="box-icon-right mcs_grey">
                        <i class="fas fa-microphone"></i>

                    </div>
                </div>
                <!-- BOX INPUT MESSAGE-->
            </div>
        <!-- /BLOCCO DI DESTRA -->

    </div>
    <script src="vue/script.js"></script>
</body>
</html>